[Unit]
Description=Car rental app
After=network-online.target

[Service]
Type=simple
User=rentalapp
ExecStart=/usr/bin/java -jar {{app_location}}
Restart=always

[Install]
WantedBy=multi-user.target